@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


/* <<<<<<<<<<faq page 1 >>>>>>>>>>> */
.gen__sectn{
padding-left:9% ;
}


.faqgen__header{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size:3.5vw; 
    color: #282828;
}


.faqgen__parag{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    color: #282828;
}


/* <<<<<<<<<faq page 2>>>>>>>>> */

.faqbody__sectn{
    background: #E6EBF1;
    padding:3rem 8rem;
    max-width: auto;
   
} 


.sub__bas_ss{
display: none;
}


.faq__sub{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    color: #282828;
    display: flex;
}


.faqwn__btn{
    display: flex;
    gap: 15%;
    padding-bottom:6%;
    padding-top:3%;
    justify-content: space-between;
    max-width: auto;
}


.faqwn__btn
button{
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 10px;
    padding:1.4rem;
    box-shadow:border-box 0px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size:1.1vw;
    width:100%;
    color: #282828;
    /* overflow: auto; */
}


.secuity__btn{
    background: #FFFFFF;
    border-radius: 10px;
    padding:1.4rem;
    box-shadow:border-box 0px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size:1.1vw;
    width:23%;
    color: #282828;
    overflow: auto; 
}


.faqwn__btn
img{
    padding-right:4%;
}


.land__basbtn
img{
    padding-right:4%;
}

.secuity__btn
img{
    padding-right:6%;
    /* padding-top:4%; */
}


/* <<<<<<<<< faq page 3 >>>>>>>>>> */
.landld__basics{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    padding-top: 3vw;

    color: #282828;

}


.land__basbtn{
    display: flex;
    gap: 15%;
    padding-bottom:9%;
    padding-top:3%;
    max-width: auto;
   
}



.land__basbtn
button{
    background: #FFFFFF;
    border-radius: 10px;
    padding:1.4rem;
    box-shadow:border-box 0px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size:1.1vw;
    width:90%;

    color: #282828;  
}


/* <<<<<<<<< faq page 4 >>>>>>>>>>>*/
.enquiry__cnr{
    display: flex;
    justify-content: center;
    align-items: center;

}


.curious__qtn{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2vw;
    color: #414042;
    padding-right:1.2%;
    /* letter-spacing:1% ; */
    mix-blend-mode: multiply;
}


.ask__us{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    color: #007DC1;
    
    mix-blend-mode: multiply;
}




/* <<<<<<<<<<<< Mobile styling >>>>>>>>>>>>>>> */

@media screen and (max-width: 480px) {
 .sub__bas_ss{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 6vw;
    display: flex;
 }
 
 .faq__sub{
    display: none;
 }

 
 .faqwn__btn{    
        font-size:3vw; 
        display: flex; 
        flex-direction: column;  
             
}


.faqwn__btn
    button{
        font-size:3.2vw;
        /* width:100%; */
        margin-top:5%;
    
}

.secuity__btn{
       display:grid;
       padding:1.3rem;
       width:90%; 
       font-size:3.2vw;
       margin: auto;
       
}


.secuity__btn
button{
    font-size:3.2vw;
   

}


    .land__basbtn{
        /* gap: 5%; */
        /* display:grid;  */
        /* padding:1.3rem; */
        /* font-size:3vw; */
        /* margin-bottom: 2%; */
        /* gap: 7%; */
        

        /* padding:1.3rem; */
       /* width:90%; */

       display: flex;
       flex-direction: column;
       /* margin: auto; */
       width: 100%;
       padding: 1.5rem;
       font-size: 3.2vw;
       margin-top:14%;

         
    }


    .faqbody__sectn{
       padding:3rem 1rem;
       margin: auto;
    }
 

   .land__basbtn
        button{
        max-width:auto;
        padding:1rem;
        font-size:3.2vw;
        margin-bottom: 2%;
        gap: 7%;
}


   .landld__basics{
    font-size:5vw;
    padding-left: 5%;
}



img{
    padding-right:10%;
    padding-left:4%;
    width:1.5rem;
}



/*<<<<<<<<<< mobile styling  faq page 4>>>>>>>>>> */

.enquiry__cnr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30%;

}


.enquiry__cnr
p{
    font-size:3.2vw;
    padding-top: 16%;
}


}



/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media screen and  ( 992px <= width <=1024px) {
  
}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {}
