/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media screen and (max-width: 680px){

    *{
        background-color: aqua;
     
        

    }
  
    /* <<<<<<< page 1 >>>>>  */

    .genstn__tag{
        background: #FFFFFF;
        border-radius: 10px;
    }

    .mini__icon{
        padding-left:90%;
        
    }

    /* <<<<<<<<<<<<<< page 2 >>>>>>>>>> */

    .visitsuccess_gendiv{
     margin: auto;  
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
  }


  .schedule__successimg{
    /* border: 2px solid green; */
   
    /* width:5%; */
  }

  .schedule__successimg
  img{
  width: 28%;
  margin-top:-11rem;
  margin-left:33%;
  margin-bottom:20%;
  }


   /* <<<<<<  page 3  styling>>>>>>> */

  .success__schedulepara{
    font-family: 'Poppins'sans-serif,;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #414042;


  }

.small__styl{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    
    display: flex;
    align-items: center;
    
    color: #414042;

}
 

.small__styl
img{
  width: 8%;
  padding-left:1.3vw;
}
 
}



