@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    /* display: none; */

}

@media screen and (max-width: 480px) {
   
    /*>>>>>>> MOBILE STYLING  for the headers<<<<<< */
    *{
        background-color: #E6EBF1;
    }


.subscribe__bdy{
    background-color: #E6EBF1;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* >>>>>>>>>>page 1 styling <<<<<<<<<<< */

.pagewn__header{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6vw;
    
}



.page__wndivwn{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    font-size: 5vw;
    align-items: center;
    color: #007DC1;
    line-height: 1.2vh;
   
   
}


.page__wndivtw{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #414042;
}


.inspection__optn{
    background-color: white;
    width: 100%;
    margin-top:18%;
}



/* <<<<<<<< Month styling >>>>>>>> */
input[type="month"]::before{
    content: attr(placeholder) !important;
    color: black;
    width: 100%;
    background-color: white;
  }
  
  input[type="month"]:focus::before,
  input[type="month"]:active::before {
    content: "";
    width: 0%;
  }

input{
    margin-top:4%;  
     background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}


/*>>>>>>>>> Time  styling <<<<<<<< */

input[type="time"] {
    background: #fff;
    height:30px;
    /* min-width: 150px; */
    width: 100%;
}

input[type="time"]:before {
    content: 'Inspection Time';
    color:black;
    position: absolute;
    background: #fff;
    height: 18px;
}

input[type="time"]:hover:before {
    content: '';
}


/* <<<<<<<<<<< page two styling >>>>>>>>>>>> */





/* <<<<<<<<<<< page six styling >>>>>>>>>>>> */

#submt__stn{
    background: #007DC1;
    min-width: 100%;
    padding: 6%;
    border:none;
    color: #ffffff;
    font-size:4vw;
    margin-top: 40%;


}

}







