@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* <!-- <<<<<< page one styling >>>>>> --> */
/* >>>>>>> Verify section styling <<<<<<< */

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
} 



::placeholder {
    color: #BABABA;
    opacity: 1; /* Firefox */
  }    
  

.verify__first{
    display: flex;
    gap: 5%;
    margin-top:10%;
    margin-bottom: 7%;
}



.pagethrmob__details{
    display: none;
}



.line_building {
    border-top: 1%;
    height: 2px;
    margin-right: 5.9%;
    margin-left: 4%;
    margin-top: -11%;
    margin-bottom: 3%;
    background: #E6EBF1;
    border-radius: 15px;}



.verify__heading{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    
    color: #414042; 
}



.verify__parag{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 128.2%;
    display: flex;
    align-items: center;

    color: #414042;
}




.verify__divv{
    padding-left: 4%;
    font-size: 0.9vw;
}


.verify__divv
a{
color: #007DC1;
text-decoration: none;
}


.ff{
    /* margin-left: 3%; */
}


.index__check{
    display: flex;
    flex-direction: row;
    gap: 6.3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    border-radius:4px;
    margin-top:2%;
    /* justify-content: space-between; */
    letter-spacing:2%;
}




.clear__font{
        display: flex;
        flex-direction: row;
        font-size:0.9vw;
        font-weight: 500;
        font-family: 'Poppins';
        color: #414042;
    
    
}



.unclear__font{
        display: flex;
        flex-direction: row;
        font-size:0.9vw;
        font-weight: 500;
        font-family: 'Poppins';
        color: #D1CECE;
}



.upperline__break{
    display: flex;
    flex-direction: row;  
    margin: auto;
    /* padding-left:0.95%; */

}


.colored__linebreak{
 border-radius: 15px;
 height: 0.2px !important;
 width: 35vw;
 
 border: none;
 background-color: #007DC1;
}



.transparent__linebreak{
    width:25vw;
    border-radius: 15px;
    height: 0.2px !important;  
    border: none;
    background-color: #E6EBF1;
}




/* <!-- <<<<<<<<<<<< page 2 >>>>>>>>> --> */
.employment__details{
    display: flex;
    /* justify-content: space-between; */
    margin-top:7%;
    gap: 10%;
}


.employment__history{
   margin-left: 4%;
}


.employment__history
h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6vw;
    display: flex;
    align-items: center;
    
    color: #414042;
}


.employment__history
p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    display: flex;
    align-items: center;
    color: #414042;
}


.pagetw_inputdiv{
    /* margin-top:1.9% ; */
    display: flex;
    flex-direction: row;
    gap: 19%;
}



.employ__status{
    width: 100%;
    padding:4%;
    /* margin-bottom:9%; */

    background: #E6EBF1;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    
    display: flex;
    align-items: center;
    border: none;
    color: #BABABA;
}


.compname__address{
    display: block;
    padding-left: 4%;
    width: 27vw;
    padding-top: 4%;
    padding-bottom: 23%;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: #BABABA;
    background: #E6EBF1;
    border: none;
    resize: none;

   
}



.companyname__address{
    display:none;
}



.occupatn__job {
        padding-left: 4%;
        padding-top: 4.1%;
        padding-bottom: 4.1%;
        color: #BABABA;
        background: #E6EBF1;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        width:  27vw;
        margin-right: 18%;
        font-weight: 500;
    }





.border__line{
    border-bottom:3px solid #E6EBF1;
    background: #E6EBF1;
    border-radius: 15px;

    margin-top:8%;
    margin-bottom:4%;
    margin-left:30%;
    margin-right:5%;
}



    .occup__job{
    display: none;
    }

/* <!-- <<<<<<<<<<< page 3 >>>>>>>> --> */

.hr_details{
    display:flex;
    flex-direction:row;
    gap:17.1%;

}



.hrdetail__header{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3vw;

    display: flex;
    align-items: center;

    color: #414042;
    margin-top:-10%;
    padding-left:4%;

}


.hr__information{
    display: none;
 }
 


.hr__info{
    display:block;
    flex-direction:column;
    margin-top:0.9%;  
   

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    display: flex;
    align-items: center;

    color: #414042;
    
    width: 28%;

}



.hr__name{
    /* margin-bottom: 2.5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    margin-left: 30%;
    display: flex;
    padding-left: 12%;
    padding-top: 10%;
    padding-bottom: 7%;
    align-items: center;
    color: #bababa;
    background: #e6ebf1;
    width: 235%;
    border: none;
    border-radius: 10px;
    font-size: 100%;
    margin-top: 2.3%; */
    font-weight: 500;


    padding: 3.5% 5%;
    margin-right: 30%;
   
    background: #e6ebf1;
    width: 100%;
    /* width: 235%; */
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 2.3%;
}



.hr__number{
    /* margin-bottom: 2.5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    margin-left: 30%;
    display: flex;
    padding-left: 12%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-bottom: 7%;
    align-items: center;
    color: #bababa;
    background: #e6ebf1;
    width: 235%;
    border: none;
    border-radius: 10px;
    font-size: 100%;

    margin-top: 7%; */
    font-weight: 500;
    padding: 3.5% 5%;
    margin-right: 30%;
   
    background: #e6ebf1;
    /* width: 100%; */
    /* width: 235%; */
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 2.3%;
    width: 100%;
}



.hr__email{
    /* margin-bottom: 2.3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    margin-left: 30%;
    display: flex;
    padding-left: 12%;
    padding-top: 10%;
    padding-bottom: 7%;
    align-items: center;
    color: #bababa;
    background: #e6ebf1;
    width: 235%;
    border: none;
    border-radius: 10px;
    font-size: 100%;

    margin-top: 5%; */
    font-weight: 500;
    padding: 3.5% 5%;
    margin-right: 30%;
   
    background: #e6ebf1;
    width: 100%;
    /* width: 235%; */
    border: none;
    border-radius: 10px;
    /* font-size: 16px; */
    margin-top: 2.3%;

    width: 100%;
}



/* <!-- <<<<<<<<< page 4 styling >>>>>>>>> --> */
.back__contine{
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    padding-left: 35%;
    align-items: center;
    gap:27%;
}



.back__btn{


    background: #E6EBF1;
    border-radius: 10px;
    padding-left: 190%;
    padding-right: 190%;
    padding-right: 34;
    padding-top: 42%;
    padding-bottom: 45%;
    color: black;
    border: none;
    font-size: 1.1rem;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #414042;

    
}




.continue__btn{

    padding-left: 150%;
    padding-right: 150%;
    padding-top: 28%;
    padding-top: 28%;
    padding-bottom: 28%;
    border-radius: 10px;
    border: none;
    background: #007DC1;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: #FFFFFF;

    }



    .landlord__nameaddrssdiv{
        margin-top:-1.4%;
    }



    .bottom__gap{
        padding-bottom:20%;
    }



    /* <!-- <<<<<<< DISPLAY NONE >>>>>>>> --> */
.mobile__pagination{
    display: none;
}



    /*>>>>>>>>>>> MOBILE STYLING <<<<<<< */
    @media screen and (max-width: 480px) {
    .mainbody__styling{
    background: #E5E5E5;
    padding-top:4%;


    
    
    /* background: grey; */
}
/* <!-- <<<<<< MOBILE STYLING  page one styling >>>>>> --> */
.verify__first{
    display: flex;
    flex-direction: column;
    }    


.verify__divv{
    font-size: 3vw;
    padding-left: 6%;
}


.mobile__pagination{
    display: block;
}


.pagethree__mobiledisplay{
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-left: 5.5%;
    padding-top: 5%;
    font-size: 3vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 2%;
 }

 .clear__font{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 10px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #414042;
 }


.unclear__font{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size:1.5vw;
    
    display: flex;
    align-items: center;
    
    color: #D1CECE;
    
}


.upperline__break{
    padding-left:6%;
    display: flex;
    flex-direction: row;  
}




.colored__linebreak{
    /* margin-right:170%; */
    width:140%;
    /* padding-right: 300%; */
    /* border: 5px solid green; */
}


.transparent__linebreak{
    /* width:22.4vw; */
    width: 100%;
    border-radius: 15px;
    height: 0.2px !important;  
    border: none;
    background-color: #E6EBF1;
    padding-right:0.1%;
    margin-right:1%;
}


    /* <!-<<<<<<< MOBILE STYLING  page 2 >>>>>>>>> --> */

.employment__details {
    display: flex;
    flex-direction: column;

   }



 .employment__history
   h2{
       font-family: 'Poppins',sans-serif;
       font-style: normal;
       font-weight: 700;
       font-size: 1.3rem;
       display: flex;
       align-items: center;
       color: #414042;
       margin-left: 5%;
   }
   

   
.employment__history
   p{
       font-family: 'Poppins',sans-serif;
       font-style: normal;
       font-weight: 300;
       font-size: 3vw;
       display: flex;
       align-items: center;
       color: #414042;
       margin-left: 5%;
   }
   


.pagetw_inputdiv{
    display: flex;
    flex-direction: column;
   }



.employ__status{
    background: #FFFFFF;
    border-radius: 5px;
    width: 82%;

    padding-left: 4%;
    padding-top:3%;
    padding-bottom:3%;
    /* margin-bottom:3%; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    
    display: flex;
    align-items: center;
    border: none;
    color: #BABABA; 
    margin-left: 8.5%;
}


.occup__job{
    display: block;

    background: #fff;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    border: none;
    color: #BABABA;
    border-radius: 5px;
    width: 82%;
    padding-left: 4%;
    margin-left: 5%;
    padding: left 10%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    margin-bottom: 3%;
    margin-left: 8.5%;

   }



   .compname__address {
    display:none;
}



.companyname__address{
    display: block;
    display: block;
    width: 82%;
    padding: 2.3% 0 17% 4%;
    resize: none;
    margin-top:6%;

    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    display: flex;
    align-items: center;

    color: #BABABA;
    border: none;
    margin-left: 8.3%;
   

 }



.occupatn__job{
    display: none;
   }



.border__line{
        /* margin-right: 9%; */
        margin-right: 12%;
        margin-left: 9%;
        margin-bottom: 7%;
        margin-top: 13%;
        /* background: #414042; */
        border-radius: 5px;
        background: #414042;
        border-bottom: 3px solid #414042;;
    }



/* <!-- <<<<< MOBILE STYLING  page 3 >>>>>>>> --> */
    
  .hr_details{
   display: flex;
   flex-direction:column;
   /* width: 20%; */

  }  


  .hrdetail__header{
    margin-bottom: 13vw;
    font-size: 3.5vw;
    padding-left: 7.6%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
  }


  .hr__info{
    display: none;  
  }


  /* <!--<<<<< MOBILE DISPLAY ONLY <<<<<<<<< --> */
  .hr__information{
    display: block;
    font-size: 3vw;
    /* margin-left: 3%; */
  }


.hr__nam{
    width: 83%;
    padding-bottom: 2.9%;
    padding-top: 2.9%;
    padding-left:4%;
    margin-left: 7.3%;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #BABABA;
    margin-bottom: 5%;
    border: none;
}

  


.hr__numb{
    width: 83%;
    margin-left: 7.3%;
    padding-left: 4%;
    border-radius: 5px;
    padding-top: 2.9%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #BABABA;
    margin-bottom: 5%;
    border: none;
    padding-bottom: 2.9%;
 } 


.hr__mail{
    width: 83%;
    margin-left: 7.3%;
    padding-left: 4%;
    padding-top: 2.9%;
    padding-bottom: 2.9%;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #BABABA;
    margin-bottom: 15%;
    border: none;
    margin-bottom:15%;
    border:none; 
 }
  /* <!--<<<<< END OF MOBILE  DISPLAY ONLY <<<<<<<<< --> */



  /* <!-- <<<<<<<<< page 4 styling >>>>>>>>> --> */

/* .back__contine{
    gap:6%;
} */


/* .back__btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    /* line-height: 26px; */
/* 
    display: flex;
    align-items: center;

    color: #414042;
    background-color: white;
    padding:3.8% 12%;
    color: #414042;
    /* } */  



/* .continue__btn{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 26px;
    
        display: flex;
        align-items: center;
        background: #007DC1;
        color: white;
        border-radius: 10px;
        padding:4% 12%;


        text-decoration: none;
    
    } */




    .back__contine{
        /* gap:7%; */
        margin-top: 15%;
        display: flex;
        flex-direction: row;
        padding-left: 9%;
        align-items: center;
        gap: 28%;
    }
    
    
    
    .back__btn{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 26px;
    
        display: flex;
        align-items: center;
    
        color: #414042;
        background-color: white;
        padding-top: 14%;
        padding-bottom: 14%;
        padding-right: 75%;
        padding-left: 56%;
    
        color: #414042;
        }
    
    
    
        .continue__btn {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 26px;
            display: flex;
            align-items: center;
            color: #414042;
            background: #007DC1;
            color: white;
            border-radius: 10px;
            padding-top: 9%;
            padding-bottom: 9%;
            text-decoration: none;
    
            padding-right: 69%;
             padding-left: 69%;
        }



        /* <<<< DISPLAY NONE FOR MOBILE VIEW >>>>> */

    .index__check{
        display: none;
    }   
    
    .pageone__mobiledisplay,
    .pagetwo__mobiledisplay,
    .pagefour__mobiledisplay,
    .pagefive__mobiledisplay{
        display: none;
    }

    }

