@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* <!-- <<<<<< page one styling >>>>>> --> */
/* >>>>>>> Verify section styling <<<<<<< */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}   


.verify__first{
    display: flex;
    gap: 5%;
    margin-top:10%;
    margin-bottom: 7%;
}



.pagethrmob__details{
    display: none;
}



.line_building {
    border-top: 1%;
    height: 2px;
    margin-right: 5.9%;
    margin-left: 4%;
    margin-top: -11%;
    margin-bottom: 3%;
    background: #E6EBF1;
    border-radius: 15px;}



.verify__heading{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    
    color: #414042; 
}



.verify__parag{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 128.2%;
    display: flex;
    align-items: center;

    color: #414042;
}




.verify__divv{
    padding-left: 4%;
    font-size: 0.9vw;
}

.verify__divv
a{
color: #007DC1;
text-decoration: none;
}


.ff{
    /* margin-left: 3%; */
}


.index__check{
    display: flex;
    flex-direction: row;
    gap: 6.3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    border-radius:4px;
    margin-top:2%;
    /* justify-content: space-between; */
    letter-spacing:2%;
}




.clear__font{
        display: flex;
        flex-direction: row;
        font-size:0.9vw;
        font-weight: 500;
        font-family: 'Poppins';
        color: #414042;
    
    
}



.unclear__font{
        display: flex;
        flex-direction: row;
        font-size:0.9vw;
        font-weight: 500;
        font-family: 'Poppins';
        color: #D1CECE;
}



.upperline__break{
    display: flex;
    flex-direction: row;  
    margin: auto;
    /* padding-left:0.95%; */

}


.colored__linebreak{
 border-radius: 15px;
 height: 0.2px !important;
 width: 25vw;
 
 border: none;
 background-color: #007DC1;
}



.transparent__linebreak{
    width:33.6vw;
    border-radius: 15px;
    height: 0.2px !important;  
    border: none;
    background-color: #E6EBF1;
}


/* CHECKMATE SESSION ENDS */

 


/* <!-- <<<<<< page 2 styling >>>>>> --> */



.gt__history{
    display: flex;
    flex-direction: row;
    margin-right: 8%;
    
}




.rental_ss{
    margin-left: 3.5%;

}



.rental__parag{
    font-size: 0.8rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    display: flex;
    align-items: center;

    color: #414042;
    margin-top: 0;
}


.rental__header{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    padding-top: 9%;
    color: #414042;
}



.pastrent__details{
    display: flex;
    flex-direction: row;
    padding-top: 2.5%;
    margin-left: 20%;
    justify-content: center;
    gap:13%;
}



.addre__ss{
    width: 23rem;
    padding-top:3%;
    padding-bottom:32% ;
    padding-left:7% ;
    background: #E6EBF1;
    border-radius: 10px; 
    margin-bottom:1%; 
    border:none; 
    margin-left:7%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #BABABA;
}



.reasons__{
    width: 100%;
    padding-top:3%;
    padding-bottom:30% ;
    padding-left:7% ;

    background: #E6EBF1;
    border-radius: 10px;
    border:none;
    margin-left:7%; 


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    border:none; 
}



/* <!-- <<<<<<<<<<< page  3 >>>>>>>>>>>> --> */
.gen__status{
    width: 100%;
}

.rent_status{
    /* width: 30vw; */
    width: 100%;

    padding-left: 2.5%;
    padding-top:4.5%;
    padding-bottom: 4.5%;

    background: #E6EBF1;
    border-radius: 10px;
    margin-bottom: 1%;
    border:none; 



    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    display: flex;
    align-items: center;

    color: #BABABA;
}



.address__period{
    width: 26.8rem;
    padding-left: 2.9%;
    padding-top:4.5%;
    padding-bottom: 4.5%;

    background: #E6EBF1;
    border-radius: 10px; 
    margin-bottom:1%;
    border:none; 

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;

    display: flex;
    align-items: center;

    color: #BABABA;;
}




.eviction__status{
    width: 100%;
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    padding-left:3%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;

    display: flex;
    align-items: center;

    color: #BABABA;

    background: #E6EBF1;
    border-radius: 10px;
    margin-bottom: 3%;
    border:none;    
}



.address__rns{
    display: none;
}




.mobileaddress__reasons{
    display: flex;
    flex-direction: column;
    margin-top:13%;
}


.mobile__address{
    display: none;
}


.mobile__reasons{
    display: none;
}
/* <!-- <<<<<<<< page 4 >>>>>>>> --> */

.line_building{
    border-top:1% ;
    height: 2px;
    margin-right: 9.%;
    margin-left: 32.7%;
    margin-top:-11%;
    margin-bottom:3%;
    background: #E6EBF1;
    border-radius: 15px;
   
}


.landlord__info{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    margin-left:3.4%;
    margin-top: 4%;
    font-size: 1.3vw;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #414042;
}



.landlord__nameaddrssdiv{
    padding-left: 33%;
    display: flex;
    flex-direction: column;
}



.landlord__name{
    width: 39.5%;
    padding-top: 2%;
    padding-bottom: 2.1%;
    padding-left: 2.1%;

    background: #E6EBF1;
    border-radius: 10px;
    margin-bottom: 1%;
    border:none; 


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1vw;
    display: flex;
    align-items: center;

    color: #BABABA;
}



.landlords_address{
    width: 39.5%;
    padding-top: 2%;
    padding-bottom: 12%;
    padding-left: 2%;
    background: #E6EBF1;
    border-radius: 10px;
    border: none;
    

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1vw;

    display: flex;
    align-items: center;

    color: #BABABA;
}


/* <!-- <<<<<<<<< page 5 styling >>>>>>>>> --> */
.back__contine{
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    padding-left: 47%;
    align-items: center;
    gap: 25%;
}



.back__btn{

    background: #E6EBF1;
    border-radius: 10px;
    padding-left: 190%;
    padding-right: 190%;
    padding-right: 34;
    padding-top: 42%;
    padding-bottom: 45%;
    color: black;
    border: none;
    font-size: 1.1rem;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #414042;


    /* background: #E6EBF1;
    border-radius: 10px;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    color: black;
    border: none;
    font-size:1.1rem;
    

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;

    display: flex;
    align-items: center;

    color: #414042; */
    
}


.continue__btn{
    /* padding-left:15% ;
    padding-right: 15%;
    padding-top:2.5%;
    padding-bottom:2.5%;
    border-radius: 10px;
    border: none;
    background: #007DC1;
    color: #fff;
    

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: #FFFFFF; */

        padding-left: 150%;
        padding-right: 150%;
        padding-top: 28%;
        padding-top: 28%;
        padding-bottom: 28%;
        border-radius: 10px;
        border: none;
        background: #007DC1;
        color: #fff;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        color: #FFFFFF;
    }



    .landlord__nameaddrssdiv{
        margin-top:-1.4%;
    }



    .bottom__gap{
        padding-bottom:20%;
    }


   


    /*>>>>>>>>>> MOBILE STYLING STARTS HERE <<<<<<<<<<<<< */
    @media screen and (max-width: 480px){

    /* <!-- <<<<<<MOBILE page 1 styling >>>>>> --> */
.main__body{
    background:#E5E5E5;
}



    .verify__first{
        display: flex;
        flex-direction: column;
        gap: 5%;
        margin-top:10%;
    } 
    

    .verify__heading{
        font-family: 'Poppins',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 10vw;
        
        display: flex;
        align-items: center;
        
        color: #414042; 
    }



   
    .ff {
        margin-left: 12%;
    }
  


   .index__check{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    border-radius:4px;
    margin-top:2%;

}


    
    .verify__parag{
        font-size:2.6vw; 
    }


    .verify__divv{
        margin-left:4%;
        font-size:3vw;
        margin-bottom: 4%;
        }
     

        
        
        
      .rental__detailinfo{
            border-radius:10px;
            background: #E6EBF1;
            height:5px;
            width:100%;
            gap:70px;
            border:none;
            padding: 0.001%;
            border-radius:3px;
            width:100%;
            margin-left:-32%;
        }
        
        
        .verifyid__detailinfo{
            border-radius:10px;
            background: #E6EBF1;
            height:5px;
            width:100%;
            gap:70px;
            border:none;
            padding: 0.001%;
            border-radius:3px;
            width:100%;  
        }
        


        .clear__font{
            display: flex;
            flex-direction: row;
            font-size:1.7vw;
            font-weight: 500;
           font-family: 'Poppins';   
        
    }




    .colored__linebreak {
        border-radius: 15px;
        height: 0.2px !important;
        width: 35vw;
        border: none;
        background-color: #007DC1;
    }



        .transparent__linebreak {
            width: 43vw;
            border-radius: 15px;
            height: 0.2px !important;
            border: none;
            background-color: #E6EBF1;
        }



        .rental__header {
            font-family: 'Poppins',sans-serif;
            font-style: normal;
            font-weight: 700;
            padding-top: 0%;
            display: flex;
            align-items: center;

            color: #414042;
        }


        /* <!-- <<<<<<MOBILE page 2 styling >>>>>> --> */
       .gt__history{
            display: flex;
            flex-direction: column;
            /* margin-left:5%; */

        }
       
        
        .rental_ss{
            
            margin-left: 19%;
        }


        .rental__header{
            margin-bottom: 4%;
        }


        .rental__parag{
            margin-top: 0%;
        }


         /* <!-- FIRST STYLING FOR WEB VIEW APPEARANCE STARTS HERE>> --> */

        .address__reasons{
            display:none;
        }
             /* <!-- FIRST STYLING FOR WEB VIEW APPEARANCE ENDS HERE>> --> */

    
         /* <!-- <<<<<<<<<<< MOBILE page  3 >>>>>>>>>>>> --> */
        .rent_status{
            width: 100%;
            
            background: #FFFFFF;
            border-radius: 5px;
            border: none;
       
    
    }
    


        .address__period {
            width: 100%;
            /* height: 27%; */
            border-radius: 5px;
            background: #FFFFFF;
            /* border-radius: 5px; */
            border: none;
            font-size: 2.4vw;


            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 5vw;
           
            display: flex;
            align-items: center;

            color: #BABABA;
        }
        



        .rental__period{
            width: 60%;
            height: 27%;
            background: #FFFFFF;
            border-radius: 5px;
            border: none;
 
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 2.7vw;
            line-height: 24px;
            border-radius: 5px;
            display: flex;
            align-items: center;

            color: #BABABA;

 
        }
    


     .eviction__status{
        width: 100%;
        padding-top: 4.5%;
        padding-bottom: 4.5%;
        padding-left: 3%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;

        display: flex;
        align-items: center;
        color: #BABABA;
        background: #fff;
        /* border-radius: 10px; */
        margin-bottom: 3%;
        border: none;
        font-size: 5vw;
        border-radius: 5px;
     } 
     
     

     /* <!-- >>>>>>>>> FOR MOBILE VIEW ONLY <<<<<<<<< --> */


.mobile__address{
    display: block;
    width: 70%;
    margin-left: 22%;
    padding-top: 5;

    padding-top: 3%;
    padding-left: 5%;
    padding-bottom: 16%;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
}

    


.mobile__reasons{
    display: block;
    display: block;
    width: 70%;
    margin-left: 22%;
    padding-top: 5;

    padding-top: 3%;
    padding-left: 5%;
    padding-bottom: 16%;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    margin-bottom: 16%;
    margin-top: 3%;
}



/* <!-- <<<<<<<< mobile page 4 >>>>>>>> --> */

.line_building{
    border-bottom:4px #414042 ;

    background: #414042;
    border-radius: 15px;
    margin-left: 22%;
    margin-bottom: 3%;
}


.landlord__info{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        display: flex;
        align-items: center;

        color: #414042;
        margin-left: 21%;
        margin-top: 7%;
}


.landlord__nameaddrssdiv{
    margin-right:1% ;
}


.landlord__nameaddrssdiv {
    padding-left: 23.5%;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
}

.landlord__name{
    width: 100%;

    background: #FFFFFF;
    border-radius: 5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #BABABA;
    }



    .landlords_address{
            width: 100%;
            padding-top: 5%;
            font-size: 3vw;
            padding-bottom: 12%;
            background:#fff;
            border-radius: 5px;
            border: none;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 4.5vw;
            display: flex;
            align-items: center;
            color: #BABABA;
            padding-left: 7%;
            padding-right: 21%;
        }
    



    /* <!-- <<<<<<<<< page 5 styling >>>>>>>>> --> */






    /* .back__contine {
        margin-top: 15%;
        display: flex;
        flex-direction: row;
        /* padding-left: 15%; */
        /* justify-content: space-between; */
        /* align-items: center;
        gap:13%;
        width: 7vw;
         */
    /* } */ 




    /* .back__btn{

        background: #E6EBF1;
        border-radius: 10px; */
        /* padding-left: 90%; */
        /* padding-right: 190%; */
        /* padding-right: 34;
        padding-top: 42%;
        padding-bottom: 45%;
        color: black;
        border: none;
        font-size: 1.1rem;
        font-family: 'Poppins',sans-serif;
        font-style: normal;
        font-weight: 700;
        display: flex;
        align-items: center;
        color: #414042;
    
        
    } */
    
/*     
    
    
    .continue__btn{
    
        padding-left: 150%;
        padding-right: 150%;
        padding-top: 28%;
        padding-top: 28%;
        padding-bottom: 28%;
        border-radius: 10px;
        border: none;
        background: #007DC1;
        color: #fff;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        color: #FFFFFF;
    
        } */
    


        .back__contine{
            /* gap:7%; */
            margin-top: 15%;
            display: flex;
            flex-direction: row;
            padding-left: 12%;
            align-items: center;
            gap: 24%;
        }
        
        
        
        .back__btn{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 26px;
        
            display: flex;
            align-items: center;
        
            color: #414042;
            background-color: white;
            padding-top: 14%;
            padding-bottom: 14%;
            padding-right: 75%;
            padding-left: 56%;
        
            color: #414042;
            }
        
        
        
            .continue__btn {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 17px;
                line-height: 26px;
                display: flex;
                align-items: center;
                color: #414042;
                background: #007DC1;
                color: white;
                border-radius: 10px;
                padding-top: 9%;
                padding-bottom: 9%;
                text-decoration: none;
        
                padding-right: 39%;
                 padding-left: 39%;
            }
    


}
    
    