@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* <!-- <<<<<< page one styling >>>>>> --> */
/* >>>>>>> Verify section styling <<<<<<< */

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}




.verify__first{
    display: flex;
    gap: 5%;
    margin-top:10%;
}


.pagethrmob__details{
    display: none;
}


.verify__heading{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    /* line-height: 39px; */
    
    display: flex;
    align-items: center;
    
    color: #414042; 
}



.verify__parag{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 128.2%;
    display: flex;
    align-items: center;

    color: #414042;
}


.verify__divv
a{
color: #007DC1;
text-decoration: none;
}




.verify__divv{
padding-left: 4%;
font-size:1.1vw;
}



.index__container{
margin-left: 0%;
padding-right:6%;
}



.index__check{
    display: flex;
    flex-direction: row;
    gap:2.2%;
    padding-left: 4.2%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    border-radius:4px;
    margin-top:4.5%;
    letter-spacing:2%;
}


.mobile__pagination{
    display: none;
}


.clear__font{
        display: flex;
        flex-direction: row;
        font-size:0.9vw;
        font-weight: 500;
        font-family: 'Poppins';
        color: #414042;
    
    
}


.unclear__font{
    display: flex;
    flex-direction: row;
    font-size:0.9vw;
    font-weight: 500;
    font-family: 'Poppins';
    color: #D1CECE;


}



.upperline__break{
    display: flex;
    flex-direction: row;  
    margin: auto;
    padding-left:3.95%;
   

}



.colored__linebreak{
 border-radius: 15px;
 height: 0.2px !important;
 width:39.5vw;
 border: none;
 background-color: #007DC1;
}



.transparent__linebreak{
    width:9vw;
    border-radius: 15px;
    height: 0.2px !important;  
    border: none;
    background-color: #E6EBF1;
    /* padding-right:0.1%; */
    /* padding-left:-140%; */
}




/* <!-- <<<<<<<<<<<< page 2 >>>>>>>>> --> */
.employment__details{
    display: flex;
    /* justify-content: space-between; */
    margin-top:7%;
    gap: 10%;
}


.employment__history{
   margin-left: 4%;
}


.employment__history
h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6vw;
    display: flex;
    align-items: center;
    
    color: #414042;
}


.employment__history
p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    display: flex;
    align-items: center;
    color: #414042;
}


.pagetw_inputdiv{
    margin-top:1.9% ;
    display: flex;
    flex-direction: row;
    /* gap: 75%; */
    gap:13.5%;
}


.employ__status{
    width: 100%;
    padding:4.5%;
    /* margin-bottom:3%; */
   
    background: #E6EBF1;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1vw;
    
    display: flex;
    align-items: center;
    border: none;
    color: #BABABA;
}


.compname__address{
    display: block;
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 4%;
    padding-bottom: 29%;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #BABABA;
    background: #E6EBF1;
    border: none;
    resize: none;
    width: 28vw;
   
}


::placeholder {
    color: #BABABA;
    opacity: 1; /* Firefox */
  }


.companyname__address{
    display:none;
}



.occupatn__job{
    padding: 4.5%;
    width: 28vw;
    /* color: rgb(152, 42, 42); */
    background:#E6EBF1;;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 5%;
}



.border__line{
    border-bottom:3px solid #E6EBF1;
    background: #E6EBF1;
    border-radius: 15px;

    margin-top:8%;
    margin-bottom:4%;
    margin-left:29%;
    margin-right:8%;
}



.occup__job{
display: none;
}




/* <!-- <<<<<<<<<<< page 3 >>>>>>>> --> */

.hr_details{
    display:flex;
    flex-direction:row;
    gap:10.5%;

}



.hrdetail__header{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3vw;

    display: flex;
    align-items: center;

    color: #414042;
    margin-top:-10%;
    /* padding-left:23%; */

}


.dependantsheader__parag{
    padding-left:3.5%;   
}


.dependantsheader__parag{
     font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    color: #414042; 
}


.hr__information{
    display: none;
 }
 


.hr__info{
    display:block;
    flex-direction:column;
    margin-top:0.9%;  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    display: flex;
    align-items: center;

    color: #414042; 

}




.hr__name{
    margin-bottom: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #BABABA;
    background: #E6EBF1;
    padding-left: 5%;
    border: none;
    border-radius: 10px;
    font-size: 1.1vw;
    width: 100%;
    padding-right:4%;
    padding-top:3.5%;
    padding-bottom:3.5%;
    margin-right: 18%;
}




.hr__number{
    margin-bottom: 5%;
    margin-top:2%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #BABABA;
    background: #E6EBF1;
    padding-left: 17%;
    padding-right:64%;
    padding-top:9%;
    padding-bottom:9%;
    width: 190%;
    border: none;
    border-radius: 10px;
    font-size: 100%;
    
    margin-left: 48%;
    margin-top: 13%;
}




.hr__email{
    margin-bottom: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #BABABA;
    background: #E6EBF1;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    margin-right: 17%;
    border-radius: 10px;
    /* font-size: 1.1vw; */
    font-size: 16px;
    margin-top: 5%;
    border: none;
    width: 100%;
}




.final__agreement{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 28%;
    margin-right: 8%;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 140%;

    color: #414042;
   
}



.final__agreement
a{
color: #007DC1;
}




.formage__gender{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-right: 17%;
    margin-top: 0%
  
    /* width: 100%; */
    /* margin-left: -14%; */
}



.guarantors__age{
    border: none;
    background: #E6EBF1;
    border-radius: 10px;
    width: 13vw;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    font-size: 16px;
    color: #BABABA;
    
}


    .guarantors__gender{  
    background: #E6EBF1;
    border: none;
    border-radius: 10px;
    width: 15vw;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
  
    font-size: 16px;
    color: #BABABA;  
    }



/* <!--<<<<<<<<<<<<<<<<<,, Other file upload>>>>>>>>>>>>> --> */
.add_more_{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    line-height: 22px;

    display: flex;
    align-items: center;

    color: #414042;
}




.otherfile__uploads{
    margin-left: 31%;
    margin-top: 5%;
}



input[type="file" i]{ 
    display: none;
} 



input[type="checkbox" i]{ 
   /* margin-right:7%; */
} 



/* <!-- <<<<<<<<< page 4 styling >>>>>>>>> --> */
.back__contine{
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    padding-left: 37%;
    align-items: center;
    gap:30%;
}


.back__btn{

    background: #E6EBF1;
    border-radius: 10px;
    padding-left: 190%;
    padding-right: 190%;
    padding-right: 34;
    padding-top: 42%;
    padding-bottom: 45%;
    color: black;
    border: none;
    font-size: 1.1rem;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #414042;
    
}



.continue__btn{
  
    padding-left: 150%;
    padding-right: 150%;
    padding-top: 28%;
    padding-top: 28%;
    padding-bottom: 28%;
    border-radius: 10px;
    border: none;
    background: #007DC1;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: #FFFFFF;


    }



    .landlord__nameaddrssdiv{
        margin-top:-1.4%;
    }



    .bottom__gap{
        padding-bottom:20%;
    }


/*   <<<<<<<<< DISPLAY NONE CODES >>>>>> */

.dependant__mobileparag{
    display: none;
}




    /*>>>>>>>>>>> MOBILE STYLING <<<<<<< */
    @media screen and (max-width: 480px) {

/* <!-- <<<<<< MOBILE STYLING  page one styling >>>>>> --> */

.dependant__parag{
    display: none;
}



::placeholder {
    color: #BABABA;
    opacity: 1; /* Firefox */
  }



.index__body{
    background:  #E5E5E5;
    padding-top: 8%;
}


.verify__first{
    display: flex;
    flex-direction: column;
    }    

    
    .verify__divv {
        padding-left: 7%;
        font-size: 3vw;
    }


     .verify__heading{
        font-family:'Poppins',sans-serif;
        font-style: normal;
        font-weight: 700;
        display: flex;
        align-items: center;
        
        color: #414042; 
        font-size: 7vw;
    }


    

    .index__container{
        margin-left: 8%;
        font-size: 3vw;
    }


    .mobile__pagination{
        display: block;
    }



    .pagefour__mobiledisplay{
        display: flex;
        flex-direction: row;
        padding-left: 4%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        border-radius:4px;
        margin-top:7%;
        letter-spacing:2%;
        font-size: 13px;
        
    }



    .clear__font{
        display: flex;
        flex-direction: row;
        font-size:1.6vw;
        font-weight: 500;
        font-family: 'Poppins';
        color: #414042;


    }

    .colored__linebreak {
        border-radius: 15px;
        height: 0.2px !important;
        width: 64vw;
        border: none;
        background-color: #007DC1;}



        .transparent__linebreak {
            border-radius: 15px;
            height: 0.2px !important;
            border: none;
            background-color: #fff;
           
            width: 10vw;
        }

    /* <!-<<<<<<< MOBILE STYLING  page 2 >>>>>>>>> --> */

.employment__details {
    display: flex;
    flex-direction: column;
    margin-left: 8%;

   }



 .employment__history
   h2{
       font-family: 'Poppins',sans-serif;
       font-style: normal;
       font-weight: 700;
       font-size: 1.3rem;
       display: flex;
       align-items: center;
       color: #414042;
       margin: 0%;
   }
   
.employment__history
   p{
       font-family: 'Poppins',sans-serif;
       font-style: normal;
       font-weight: 300;
       font-size: 3vw;
       display: flex;
       align-items: center;
       color: #414042;
   }
   


.pagetw_inputdiv{
    display: flex;
    flex-direction: column;
   }



.employ__status{
    background: #FFFFFF;
    border-radius: 5px;
    width: 88%;

    padding-left: 4%;
    padding-top:2.2%;
    padding-bottom:2.2%;
    margin-bottom:3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    
    display: flex;
    align-items: center;
    border: none;
    color: #BABABA; 

}


.occup__job{
    display: block;
    background: #fff;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;;
    display: flex;
    align-items: center;
    border: none;
    color: #BABABA;
    border-radius: 5px;
    width: 88%;
    padding-top: 3.5%;
    padding-left:4%;
    padding-bottom: 2.2%;
    margin-bottom: 3%;

   }


   .compname__address {
    display:none;
}


.companyname__address{
    display: block;
    display: block;
    width: 88%;
    padding: 2.3% 0 17% 4%;
    resize: none;
    margin-top:6%;

    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;;

    display: flex;
    align-items: center;

    color: #BABABA;
    border: none;

 }

.occupatn__job{
    display: none;
   }


.border__line{
        /* margin-right: 9%; */
        margin-left: 9%;
        margin-top: 8%;
        margin-bottom: 6%;
        background: #414042;
        border-radius: 5px;
        color:#414042;;
        border-bottom: 3px solid #414042;;
    }



/* <!-- <<<<< MOBILE STYLING  page 3 >>>>>>>> --> */
  

  .hr_details{
   display: flex;
   flex-direction:column;
   /* width: 20%; */
  }  


.dependantsheader__parag{
    display: flex;
    flex-direction: column;
    margin-left:6%;
    margin-top: 14%;
}





  .hrdetail__header{
    font-size: 3vw;
  }




  .dependant__parag{
    
    display: flex;
    flex-direction: row;
    color: #414042;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;


    font-size: 13px;
  }



  .hr__info{
    display: none;  
  }


  /* <!--<<<<< MOBILE DISPLAY ONLY <<<<<<<<< --> */
  .hr__information{
    display: block;
    padding: 0% 9%;
    /* margin-left: 19%; */
  }


.hr__nam{
    
    border: none;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;


    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    /* margin-left: 9%; */
    margin-top: 10%;
    padding-left: 4%;
    color: #BABABA;
  }



.formage__gender{
    /* gap: 15%; */
    margin-bottom: 4%;
    /* border: 2px solid green; */
    width: 100%;
    /* margin-left: 13%; */

}


::placeholder {
    color: #BABABA;
    opacity: 1; /* Firefox */
  }


.age__range{
   
    border: none;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 2%;
    /* margin-bottom: 17%; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #BABABA;


    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}





.gender__select{

    color: #BABABA;
    border: none;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 2%;
    /* margin-bottom: 17%; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    display: flex;
    align-items: center;
    

    width: 100%;
    padding-top: 3.5%;
    padding-bottom: 4%;


}



 .guarantors__gender{  
    background: #E6EBF1;
    border: none;
    border-radius: 10px;
    width: 19vw;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 9%;
  
    font-size: 16px;
    color: #BABABA;  
    }




.hr__mail{
    padding-left: 4%;
     width: 100%;
    padding-top: 2.3%;
    padding-bottom: 2.3%;
    margin-right: 86%;

    padding-top: 2.3%;
    padding-bottom: 2.3%;
    /* margin-left: 8%; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    border-radius: 5px;

    border: none;
    display: flex;
    align-items: center;

    color: #414042;
    padding-left: 4%;
}

 



  /* <!--<<<<< END OF MOBILE  DISPLAY ONLY <<<<<<<<< --> */
.otherfile__uploads
    img{
    width:7%;

    }


 .otherfile__uploads {
        margin-left: 10%;
        margin-top: 7%;
        
    } 


.add_more_{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    display: flex;

    color: #414042;
    /* margin-left: 15%; */
    
}



.final__agreement {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: #414042;
    font-size: 2.5vw;
    margin-left:9%;
}


  /* <!-- <<<<<<<<< Mobile styling page 4 styling >>>>>>>>> --> */

.back__contine{
    /* gap:7%; */
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    padding-left: 12%;
    align-items: center;
    gap: 24%;
}



.back__btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;

    display: flex;
    align-items: center;

    color: #414042;
    background-color: white;
    padding-top: 14%;
    padding-bottom: 14%;
    padding-right: 75%;
    padding-left: 56%;

    color: #414042;
    }



    .continue__btn {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #414042;
        background: #007DC1;
        color: white;
        border-radius: 10px;
        padding-top: 9%;
        padding-bottom: 9%;
        text-decoration: none;

        padding-right: 39%;
         padding-left: 39%;
    }

/* >>>>>>>> MOBILE DISPLAY NONE <<<<<<<<< */
.index__check{
display: none;
}


.pageone__mobiledisplay,
.pagetwo__mobiledisplay,
.pagethree__mobiledisplay,
.pagefive__mobiledisplay{
    display: none;
}

br{
    display: none;
}
  



}




@media screen and (max-width: 1024px){
p{
    font-size: 1.2vw;
}

}





