@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    /* background-color: aqua; */
}

/* <<<<<<<< UNSUCCESSFUL SUBSCRIPTION >>>>>>> */
@media screen and (max-width: 680px){
    /* <<<< page 1 >>>>  */
    .mini__icon{
        padding-left:90%;
        
        
    }


    .gen__modal{
        padding-bottom:5%;

    }

    /* <<<< <<<.... page 2 ...>>>> */

    .genedecli__stn{
        margin: auto;  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top:12%;
    }


    .delined__exclamatn{
        background: rgba(255, 0, 0, 0.2); 
        border:none;    
        height:100px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:100px;

    }


    .delined__exclamatn
    img{
        /* width:30px; */
        width: 33%;
        height: 100%;
        margin-top: 0%;
        margin-left: 36%;
        margin-right:60%;
        margin-bottom: 30%;
    }

    .gf{
      
        margin-left:35%;
       
        
    }
    /* <<<<<<<  page 3 >>>>>>>  */


    .propty__unavaibl{
        font-family: 'Poppins',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 7vw;
        

        display: flex;
        align-items: center;
        justify-content: center;

        color: #414042;
    }

    .prop__occupied{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size:6vw;

        display: flex;
        align-items: center;

        color: #414042;
        padding-bottom:5%;
    }
}
